.hero {
    display: flex;
    text-align: center;
    position: relative;
}

p {
    font-size: xx-large;
}

video {
    object-fit: fill;
    height: 100vh;
    
}

.vid1 {
    flex: 1;
    margin: auto 0;
    width: 100vw;
    overflow: hidden;
}

.left-logo {
    color: #fff;
    width: 15em;
    background-color: #222;
    padding-left: 8em;
    padding-right: 2em;
    padding-top: 0em;
    border-radius: 0px 50px 50px 0px;
    z-index: 1;
    position: absolute;
    top: 80vh;
}

.right-logo {
    width: 7em;
    background-color: #222;
    padding-left: 10em;
    z-index: 1;
    position: absolute;
    top: 80vh;
    left: 72vw;
    padding-right: 13em;
}

.mid-text {
    font-size: 1.75em;
    width: 30em;
    color: #fff;
    background-color: #222;
    z-index: 1;
    position: absolute;
    top: 80vh;
    left: 25vw;
    margin: 0;
}

.circle {
    width: 6em;
    height: 6em;
    background-color: #fff;
    position: absolute;
    border-radius: 50px;
    top: 80vh;
    left: 70vw;
    z-index: 2;
}

p {
    margin-top: -18px;
    padding-bottom: 0px;
}

h1 {
    font-size: 3em;
    margin: 5px;
}

h2 {
    color: blueviolet;
    font-size: 5em;
    margin: 5px auto;
    font-style: italic;
}

h3 {
    font-size: 1.5em;
    margin: .2em;
}

